<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3_tHOZVeVEbaSAufO0FVOcGdATa8sx0s</string>
	<key>GCM_SENDER_ID</key>
	<string>1033250779135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SWYP.kori</string>
	<key>PROJECT_ID</key>
	<string>kori-alram</string>
	<key>STORAGE_BUCKET</key>
	<string>kori-alram.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033250779135:ios:7b0a366bb7c80d975241ca</string>
</dict>
</plist>